/*--------- Background -------------*/

body {
    background-color: #070f10; /* dein gewünschter Dark-Mode-Hintergrund */
}

/*----------- Font --------------*/
.audiowide-font {
    font-family: "Audiowide", sans-serif;
}

/*------------------- navbar neon ---------*/

.navbar-neon-accent {
    position: relative;
    height: 6px;
    width: 100%;
    background-color: red;
    box-shadow: 0 0 4px red, 0 0 8px red;
    animation: neonPulse 3s ease-in-out infinite;
    opacity: 0.8;
}

@keyframes neonPulse {
    0% {
        box-shadow: 0 0 4px red, 0 0 6px red;
        opacity: 0.6;
    }
    50% {
        box-shadow: 0 0 8px red, 0 0 12px red;
        opacity: 0.9;
    }
    100% {
        box-shadow: 0 0 4px red, 0 0 6px red;
        opacity: 0.6;
    }
}

/*----------------------------------------------------------------------*/

/* Scrollbar */
/* Scrollbar - Allgemeines Styling */
::-webkit-scrollbar {
    width: 12px; /* Breite der Scrollbar */
    height: 12px; /* Höhe der Scrollbar, für horizontale Scrollbar */
}

/* Scrollbar - Daumen (der bewegliche Teil) */
::-webkit-scrollbar-thumb {
    background-color: rgb(163, 22, 22); /* Rote Farbe für den Daumen */
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red; /* Neon-Effekt */
}

/* Scrollbar - Track (der Hintergrund der Scrollbar) */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Dunklerer Hintergrund für den Track */
    border-radius: 10px; /* Abgerundete Ecken */
}

/* Hover-Effekt für den Daumen */
::-webkit-scrollbar-thumb:hover {
    background-color: #ff4d4d; /* Helleres Rot beim Hover-Effekt */
    box-shadow: 0 0 15px #ff4d4d, 0 0 25px #ff4d4d, 0 0 35px #ff4d4d; /* Intensiverer Neon-Effekt beim Hover */
}
